@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 14px;
  }
}

@layer components {
  @keyframes b {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframesmove {
    0% {
      transform: translateZ(0);
    }
    25% {
      transform: translate3d(0, -3px, 0);
    }
    75% {
      transform: translate3d(0, 3px, 0);
    }
    to {
      transform: translateZ(0);
    }
  }
  .pulse {
    animation-name: b;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .scroll-down {
    transform: translateZ(0);
    backface-visibility: hidden;
    animation-name: move;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .container {
    @apply mx-auto w-full;
    max-width: calc(100% - 10rem);
  }
  .wrap {
    @apply max-w-6xl mx-auto;
  }
  .wrap-sm {
    @apply max-w-xl mx-auto;
  }
  .cover {
    @apply fixed flex items-center justify-center h-screen w-full;
  }
  .cover video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .cover + div {
    top: 100vh;
    position: relative;
    z-index: 111;
    background: #fff;
  }
  .full-bg:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: #111;
    opacity: 0.25;
  }
  header.static {
    @apply flex items-center justify-center h-screen w-full;
  }
  header .pull-right,
  header.header-profile video {
    @apply absolute top-0 right-0 bottom-0 w-auto h-full object-cover;
  }
  header.header-profile video {
    max-width: 33%;
  }
  header.header-profile h1 {
    padding-right: 80px;
  }
  header .map {
    width: 40%;
  }
  header.is-404 {
    justify-content: flex-start !important;
  }
  .home-links {
    @apply bg-white relative z-10 flex flex-col justify-center items-center max-w-3xl mx-auto;
    padding: 80px 100px 70px;
  }
  .home-links > ul {
    @apply flex justify-around  text-gray-500;
    margin-top: 50px;
  }
  .home-links a {
    transition: 0.3s;
    font-size: 18px;
    padding: 10px 20px;
  }
  .home-links a:hover {
    color: #000;
  }
  .name-filter,
  .add2favorites {
    @apply fixed flex select-none bg-black text-white left-20 bottom-10 transition;
    transform: translateY(200px);
    z-index: 11;
  }
  .add2favorites {
    @apply bg-white text-black;
  }
  .name-filter.on,
  .add2favorites.on {
    transform: translateY(0);
  }
  .name-filter .active,
  .add2favorites .active {
    @apply w-10 h-10 text-xs bg-white text-black border-2 border-black flex items-center justify-center cursor-pointer;
  }
  .name-filter .all {
    display: none;
    background: #fff;
  }
  .name-filter.opened .all {
    display: flex;
  }
  .name-filter.opened .active {
    @apply bg-black text-white;
  }
  .name-filter .all > div {
    @apply w-10 h-10 flex items-center justify-center text-black cursor-pointer;
    border: 2px solid #000;
    border-width: 2px 0 2px 0;
  }
  .name-filter .all > div:last-child {
    border-right: 2px solid #000;
  }
  .countable:nth-child(even) h2 {
    @apply text-left;
  }
  .countable:nth-child(odd) h2 {
    @apply text-right;
  }
  .icons-nav {
    @apply absolute w-full top-auto bottom-20 z-10;
  }
  h1 {
    font-size: 80px;
    line-height: 1.1;
  }
  h2 {
    @apply text-6xl mb-12;
  }
  h4 {
    @apply text-black mb-2 font-bold;
  }
  .flex-full {
    @apply w-full h-full flex items-center justify-center;
  }
  .is-logo {
    @apply relative z-10 hidden sm:block;
  }
  .is-logo img {
    @apply h-[100px];
    filter: brightness(0) invert(1);
  }
  nav {
    @apply !fixed w-full left-0 z-[1000] top-20 text-white;
  }
  nav.relative {
    @apply text-black;
  }

  nav.relative + .content {
    @apply mt-28 lg:mt-32 2xl:mt-48;
  }

  nav.relative .icon-button {
    @apply text-black;
  }

  nav.stick {
    @apply !fixed  top-0 py-3;
    border-bottom: 1px solid hsla(0, 0%, 7%, 0.1);
    background: rgba(255, 255, 255, 0.9);
  }

  nav.stick .links-block,
  nav.stick .icon-button {
    @apply text-black;
  }
  nav.stick .logo-wrap,
  nav.relative .logo-wrap {
    opacity: 1;
    visibility: visible;
  }

  nav .logo-wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    @apply max-w-6xl mx-auto;
  }
  nav .logo-wrap img {
    @apply w-36;
  }
  nav .logo-wrap a {
    display: inline-block;
  }

  .text ol + p,
  .text p + ol,
  .text p + ul,
  .text ul + p,
  p + h3,
  p + p {
    @apply mt-3;
  }
  .btn {
    @apply py-2 px-5 border-2 border-black;
  }
  .icon-favorites {
    @apply relative;
  }
  .icon-favorites span {
    @apply absolute right-0 text-xs;
  }
  .icon-button {
    @apply transition cursor-pointer p-2 h-10 w-10 relative;
  }
  .icon-button:hover {
    opacity: 0.75;
  }

  .menu {
    width: 600px;
    max-width: 80%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    color: #111;
    z-index: 1001;
    padding: 5rem;
    background: #fff;
    transform: translateX(600px);
    transition: transform 0.5s;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
  }

  .menu.open {
    transform: translateX(0);
  }

  .close {
    @apply text-gray-400 transition hover:text-black cursor-pointer absolute z-[1000];
    top: 5rem;
    right: 5rem;
    padding: 0.5rem;
  }
  .menu.open + .menu-bg {
    opacity: 0.4;
    visibility: visible;
  }
  .menu-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #111;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  .links-top {
    @apply -ml-5 mb-5;
  }
  .links-top ul {
    @apply flex;
  }
  .links-top a {
    @apply px-5  text-gray-400;
    line-height: 45px;
  }
  .links-top a + a {
    @apply ml-3;
  }
  .links-main {
    @apply -ml-5 mb-5;
  }
  .links-main a {
    @apply text-2xl px-5 py-1 block;
  }
  .links-bottom {
    @apply -ml-5 mb-5;
  }
  .links-bottom a {
    @apply text-xl px-5 py-1 block font-thin;
  }
  .links-group a {
    @apply transition;
  }
  .links-group:hover a {
    @apply text-gray-400;
  }
  .links-group:hover a:hover,
  .active > a {
    @apply !text-black;
  }
  .link-follow {
    @apply inline-flex items-center border-2 border-black transition px-4 py-3 hover:bg-black hover:text-white;
  }
  .legend {
    @apply text-lg text-gray-400 mt-3 font-thin;
  }
  .legend a {
    @apply text-black font-normal;
  }

  footer {
    @apply py-20 text-gray-500;
  }
  footer ul + ul {
    @apply ml-24;
  }
  footer ul:first-child {
    @apply mr-24;
  }
  footer a {
    line-height: 1.8rem;
  }
  .search-results {
    @apply p-20;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    background: hsla(0, 0%, 7%, 0.97);
    z-index: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .search-open .search-results {
    visibility: visible;
    opacity: 1;
  }

  .search-open .icon-button {
    @apply !text-white;
  }
  .search-open .search-results + div {
    position: relative;
  }
  .search-open .opener,
  .search-open .logo-wrap {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
  .search-grid {
    @apply mt-28 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-8;
    overflow: auto;
    max-height: calc(100vh - 10rem);
  }
  .closer {
    @apply text-white left-20 absolute;
  }
  body.has-overflow {
    overflow: hidden;
    height: 100%;
  }
  input[type='text'],
  input[type='email'],
  input[type='tel'],
  input[type='date'],
  select {
    @apply text-gray-500 transition border-b  py-2 outline-none w-full focus:border-black bg-white;
    font-family: 'Julius Sans One', sans-serif;
  }
  .search-results input[type='text'] {
    @apply outline-none border-0 bg-transparent  sm:!max-w-[300px] lg:!max-w-[500px];
    max-width: calc(100% - 84px);
  }
  .dropzone {
    @apply mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md;
  }
  .box {
    @apply py-32;
  }
  .box-sm {
    @apply py-20;
  }
  .box-contacts {
    @aplly text-gray-400;
  }
  .box-contacts h4 {
    @apply mt-7;
  }
  .box-contacts h4:first-child {
    @apply mt-0;
  }
  .box-contacts .social {
    @apply mt-7;
  }
  .box-contacts .social a {
    @apply !text-gray-400;
  }
  .box-contacts a {
    @apply block;
  }
  .box-profile .params {
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-7;
  }
  .box-profile .params > div {
    @apply pr-4 pb-4;
  }
  .box-profile .params .title {
    @apply text-gray-400 mb-1;
  }
  .box-profile .params .title + div {
    @apply text-black xl:text-lg;
  }

  .video-player .content {
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11rem;
    width: calc(100vw - 150px);
    transform: translateX(1000%);
    transition: transform 0.5s;
  }
  .video-open .video-player .close:hover {
    color: #fff;
  }
  .video-open .video-player .content {
    transform: translateX(0);
  }
  .video-player .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: #000;
    z-index: 10000;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .video-open .video-player .overlay {
    opacity: 0.4;
    visibility: visible;
  }
  .model-menu {
    @apply hidden md:block absolute top-44 left-0;
  }
  .model-menu li {
    @apply cursor-pointer text-gray-400 hover:text-black transition text-sm mb-1;
  }
  .icon-back {
    @apply !text-black relative w-4 h-4;
  }
  .inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .grid-thumbs {
    @apply grid grid-cols-2 gap-x-4 gap-y-4 sm:grid-cols-3  md:grid-cols-4  lg:grid-cols-6 lg:gap-x-8 lg:gap-y-8;
  }
  .grid-thumbs div {
    @apply relative cursor-pointer overflow-hidden;
  }
  .grid-thumbs div span {
    @apply transform transition;
  }
  .grid-thumbs div:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100%);
    max-height: 100px;
    background: hsla(0, 0%, 7%, 0.6);
    filter: blur(40px);
    z-index: 9;
  }
  .grid-thumbs span {
    @apply absolute bottom-4 z-10 left-0 right-0 text-center font-bold text-white;
  }

  .grid-thumbs div img {
    @apply transition transform filter grayscale;
  }
  .grid-thumbs div:hover img {
    @apply grayscale-0 scale-110;
  }
  .grid-thumbs div:hover span {
    @apply -translate-y-3;
  }
  .error {
    @apply text-xs text-red-400 absolute pt-1 whitespace-nowrap;
  }
  .carousel {
    @apply px-2 overflow-hidden;
  }
  .carousel .img-slide {
    @apply px-2;
  }
  .carousel .img-slide img {
    @apply w-full;
  }
  .carousel .video-slide {
    @apply relative text-white px-2 cursor-pointer;
    transform-origin: center;
  }
  .carousel .video-slide:hover svg {
    @apply transition;
  }
  .carousel .video-slide:hover svg {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .carousel .video-slide:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background: #111;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    z-index: 1;
  }

  .carousel .react-multiple-carousel__arrow {
    background: #fff;
    min-width: 30px;
    min-height: 30px;
    opacity: 1;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 0;
    z-index: 1;
  }
  .carousel .react-multiple-carousel__arrow:before {
    color: #000;
    font-size: 15px;
  }
  .carousel .react-multiple-carousel__arrow:hover {
    background: #000;
  }
  .carousel .react-multiple-carousel__arrow:hover:before {
    color: #fff;
  }
  .carousel .react-multiple-carousel__arrow--left {
    transform: translateX(-1000px);
  }
  .carousel .react-multiple-carousel__arrow--right {
    transform: translateX(1000px);
  }
  .carousel:hover .react-multiple-carousel__arrow--left,
  .carousel:hover .react-multiple-carousel__arrow--right {
    transform: translateX(0);
  }
  button,
  img,
  .menu,
  footer,
  header {
    user-select: none;
  }
  .about-text {
    @apply pt-20;
  }
  nav.theme-map:not(.stick) .logo-wrap + div .icon-button,
  nav.theme-map:not(.stick) span {
    @apply !text-white;
  }
  nav.theme-img:not(.stick) .logo-wrap + div .icon-button,
  nav.theme-img:not(.stick) span {
    @apply !text-white;
  }
  .indicator {
  }
  .has-error label {
    @apply text-red-700;
  }
  .has-error input,
  .has-error textarea,
  .has-error select,
  .has-error .indicator {
    @apply !border-red-600;
  }
  label small {
    @apply ml-4;
  }
  td .social {
    @apply justify-center;
  }
  td .social a + a {
    margin-left: 10px !important;
  }
  th {
    white-space: nowrap;
  }
  .input {
    @apply rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700;
  }
  .cell-long {
    max-width: 150px;
    width: 150px;
  }
  .cell-default {
    text-align: center !important;
    max-width: 110px;
    width: 110px;
  }
  .cell-flag {
    max-width: 110px;
    width: 110px;
  }
  .cell-flag > div {
    display: flex;
    justify-content: center;
  }
  .manager-btn {
    @apply items-center mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4  bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0  sm:w-auto sm:text-sm;
    line-height: 42px;
    min-height: 42px;
    min-width: 90px;
  }
  .manager-btn-success {
    @apply bg-green-500 text-white hover:bg-green-600 hover:text-white;
  }
  .manager-btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600 hover:text-white;
  }
  .manager-btn-info {
    @apply bg-blue-500 text-white hover:bg-blue-600 hover:text-white;
  }
  .manager-btn + .manager-btn {
    @apply ml-3;
  }
  button[disabled] {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
  .mapMarkerStyle {
    background-color: blue;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    left: -0.5rem;
    top: -0.5rem;
    position: relative;
    border-radius: 1.5rem 1.5rem 0;
    transform: rotate(45deg);
    border: 1px solid #ffffff;
  }

  .mapMarkerStyle::after {
    position: 'absolute';
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    background-color: #fff;
  }
  .thumbsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    position: relative;
  }

  .thumbInner {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .thumbInner img,
  .thumbInner video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-origin: top;
  }
  .delete-thumb {
    @apply cursor-pointer absolute top-0 right-0 bg-white p-1 hover:text-black opacity-0 z-10;
  }
  .thumbInner:hover .delete-thumb {
    @apply opacity-100;
  }
  .stickly-controls {
    @apply sticky bottom-0;
  }
  .div404 {
    @apply flex items-center justify-end lg:justify-center flex-col w-full h-screen relative;
    background-image: url(/images/become.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
  }

  @media (max-width: 1536px) {
    h1 {
      font-size: 60px;
    }
    h2 {
      @apply text-3xl mb-12;
    }
    nav {
      @apply top-10;
    }
    .search-results {
      @apply p-10;
    }
    .menu {
      @apply p-10;
    }
    .close {
      @apply top-10 right-10;
    }
    .icons-nav {
      @apply bottom-10;
    }
    .container {
      @apply px-10 max-w-full;
    }
    .closer {
      @apply left-10;
    }

    .name-filter {
      @apply left-10;
    }

    .add2favorites {
      @apply right-10;
      left: auto;
      flex-direction: row-reverse;
    }

    .icon-search,
    .icon-backbtn {
      @apply ml-auto relative cursor-pointer;
      z-index: 1;
    }
    nav.theme-map:not(.stick) .icon-search {
      @apply text-white;
    }
    nav.theme-img:not(.stick) .icon-search {
      @apply text-white;
    }
    nav.theme-img:not(.stick) .icon-backbtn {
      @apply text-white;
    }
    .icon-instagram {
      @apply hidden;
    }
    .search-results .wrap {
      max-width: 80%;
    }
    header.header-profile video {
      max-width: 50%;
    }
  }
  @media (max-width: 1200px) {
    h1 {
      font-size: 40px;
      font-weight: bold;
    }
    h2 {
      @apply text-xl mb-12;
    }
    nav .logo-wrap {
      @apply px-10;
    }
  }
  @media (max-width: 1024px) {
    nav {
      @apply top-4;
    }
    .search-results {
      @apply p-4;
    }
    .box {
      @apply py-16;
    }
    .box-sm,
    footer {
      @apply py-8;
    }
    .icons-nav {
      @apply bottom-4;
    }
    nav .logo-wrap {
      @apply px-4;
    }

    .container {
      @apply px-4;
    }
    .closer {
      @apply left-4;
    }
    .menu {
      @apply p-4 pl-6 pb-6;
      width: 500px;
      transform: translateX(500px);
    }
    .close {
      top: 1rem;
      right: 1rem;
    }

    .name-filter {
      @apply left-4 bottom-4;
    }
    .add2favorites {
      @apply right-4 bottom-4;
    }
    footer ul:first-child {
      margin-right: 0;
    }
    .name-filter {
      transform: translateY(0);
    }
    .theme-img + header .pull-right,
    header.header-profile video {
      width: 100%;
      left: 0;
    }
    header.header-profile video {
      max-width: 100%;
    }
    header .pull-right {
      object-position: top;
    }

    .theme-img + header .relative {
      position: static;
    }
    .theme-img + header h1 {
      @apply text-white absolute text-left left-4 bottom-4;
    }
    .theme-img + header {
      position: relative;
    }
    .theme-img + header:before {
      position: absolute;
      content: '';
      background: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .theme-img:not(.stick) {
      background: transparent;
    }
    .theme-img:not(.stick) .logo-wrap img {
      filter: brightness(0) invert(1);
    }
    .theme-img:not(.stick) {
      border-bottom: 0;
    }
    .video-player .content {
      padding: 0 70px;
      width: calc(100vw - 70px);
    }
    .div404 {
      background-size: cover;
      background-position: top center;
    }
    .div404:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: rgba(255, 255, 255, 0.6);
    }
  }
  @media (max-width: 640px) {
    body {
      font-size: 12px;
    }
    .links-top {
      @apply -ml-2;
    }
    .links-top a {
      @apply pl-2 pr-2;
    }
    nav.relative {
      @apply !fixed  !top-0 py-3;
      border-bottom: 1px solid hsla(0, 0%, 7%, 0.1);
      background: rgba(255, 255, 255, 0.9);
    }

    nav.relative .links-block,
    nav.relative .icon-button {
      @apply text-black;
    }

    nav .logo-wrap {
      visibility: visible !important;
      opacity: 1 !important;
    }

    nav:not(.stick) .logo-wrap img {
      filter: brightness(0) invert(1);
    }
    nav.relative .logo-wrap img {
      filter: none;
    }

    .text-lg,
    .legend {
      font-size: 12px !important;
      line-height: 1.5 !important;
    }
    .home-links {
      padding: 20px 30px 40px;
    }
    .home-links > ul {
      @apply mt-4;
    }
    .home-links a {
      @apply p-2;
    }
    footer ul {
      @apply flex flex-wrap  w-full !-ml-1 !-mr-1;
    }
    footer ul a {
      @apply p-1;
    }
    .theme-map + header {
      flex-direction: column;
      display: flex;
    }
    .theme-map + header > div {
      position: static;
      width: 100%;
    }
    .theme-map + header > div.absolute {
      padding: 0 0 2rem;
    }
    .theme-map:not(.stick) {
      background: transparent;
    }
    .theme-map:not(.stick) .logo-wrap img {
      filter: brightness(0) invert(1);
    }
    .theme-map:not(.stick) {
      border-bottom: 0;
    }

    .name-filter {
      left: auto;
      right: 1rem;
      flex-direction: row-reverse;
    }
    .name-filter .all > div:last-child {
      border-right: 0;
    }
    .name-filter .all > div:first-child {
      border-left: 2px solid #000;
    }
    .video-player .content {
      padding: 0 2rem;
      width: calc(100vw);
    }
    .carousel .react-multiple-carousel__arrow--left,
    .carousel .react-multiple-carousel__arrow--right {
      display: none;
    }
    .carousel .img-slide,
    .carousel .video-slide {
      padding-bottom: 2rem;
    }
    .carousel .react-multi-carousel-dot button {
      border-radius: 0;
      border-color: #000;
    }
    .search-results .wrap {
      max-width: calc(100vw - 3rem);
    }
    .search-results input[type='text'] {
      @apply ml-10;
    }
    .search-open .icon-favorites,
    .search-open .icon-instagram {
      display: none;
    }
  }
  @media (min-width: 641px) {
    nav.theme-white:not(.stick) .logo-wrap + div svg,
    nav.theme-white:not(.stick) span,
    nav.theme-white:not(.stick) .icon-search {
      @apply !text-white;
    }
    .carousel .react-multi-carousel-dot-list {
      display: none;
    }
  }
  @media (min-width: 1537px) {
    nav.theme-img:not(.stick) .links-block {
      @apply !hidden;
    }
    .about-text {
      @apply pt-0;
    }
    .about-text .wrap > div {
      position: absolute;
      transform: translateY(-100%);
      @apply pb-32;
    }
  }
}
